<div class="container-fluid" id="banner-container">
		<div class="div-top">
		<br>
		<br>
		
			<%= image_tag "Oceanic-Supply-Logo-214x300.png", class:"logo-image" %>
	
			<br>
			
			<div class ="container">
			<p class="headingmain">ONE STOP SOLUTION&nbsp;|&nbsp;ANYTHING, ANYWHERE, ANYTIME</p>
		</div>
			<br>

			<br>
		</div>	

	</div>

	<div class="container">

		<BR>
		<h1 class="home-h1">ABOUT US</h1>
		<BR>

		<P class="center">Oceanic Supply (“OS”) is an independent commodities broking house that offers a unique and one of a kind service to oil &amp; gas companies. OS is based, in Perth Western Australia and has provided services within Australia and throughout South East Asia.
		We at Oceanic Supply have responded to our clients’ requirements and offer a variety of offshore and subsea construction services. We pride ourselves on being available 24/7 in order to provide our clients the best possible customer service.</P>
		
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 services-boxes">
				<%= image_tag "1.jpg", class:"inherit-height", id:"fade" %>
				<p class="home-image-text">Supply of hard to get rigging for unique project requirements</p>
			</div>
			<div class="col-sm-3 services-boxes">
				<%= image_tag "2.jpg", class:"inherit-height", id:"fade"%>
				<p class="home-image-text">Onsite inspection of critical equipment anywhere in the world</p>
			</div>
			<div class="col-sm-3 services-boxes">
				<%= image_tag"3.jpg", class:"inherit-height", id:"fade"%>
				<p class="home-image-text">Online Rigging Register to keep all your certs accessible</p>
			</div>
			<div class="col-sm-3 services-boxes">
					<%= image_tag"4.jpg", class:"inherit-height", id:"fade"%>
				<p class="home-image-text">Flexibility to suit your business needs anywhere in the world</p>	
			</div>
			</div>
	</div>
		</div>

			<br>
	</div>

		
		
	<div class="container">
		<br>
		<BR>
		<h1 class="home-h1">SERVICES</h1>
		<BR>

		<P class="center">At Oceanic Supply we are dedicated to providing an unmatched quality service. Our team takes pride in every project we undertake and every product we deliver, always remembering that we are not just doing your work today, we are also building our credibility, integrity, and reputation for tomorrow.</P>

		<br>
		<br>
		<div class="row ">

			<div class="col-md-4 grey-border" id="rounded-edge-left">
				<ul class="center-block">
					<h3><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; PROCUREMENT</h3>
					<li>Offshore Lifting Appliances</li>
					<li>Material Handling Equipment</li>
					<li>Marine and Subsea Equipment and Supplies</li>
					<li>Vessel and ROV Spares</li>
					<li> Underwater Equipment (Leak Detection Camera, Survey Compatts,Blueview Sonar)</li>
				</ul>
			</div>

			<div class="col-md-4 grey-border">
				<ul class="center-block">
					<h3><span class="glyphicon glyphicon-plane"></span>&nbsp; LOGISTICS</h3>
					<li>Liaising with transport, shipping and insurance companies</li>
					<li>Warehousing and storage service with courier service provided to deliver to location</li>
				</ul>
			</div>

			<div class="col-md-4 grey-border" id="rounded-edge-right">

				<ul class="center-block">
					<h3><span class="glyphicon glyphicon-wrench"></span>&nbsp; FABRICATION</h3>
					<li>Fabrication of Installation Aids</li>
					<li>Negotiating price, specification and delivery</li>
					<li>Providing market recommendations to clients</li>
				</ul>

			</div>
		</div>

		<BR>
		<h1 class = "home-h1">CLIENTS</h1>
		<BR>


			<table>
				<tr>
					<td class="clients">
						<%= image_tag "Technip.jpg"%>
					</td>
					<td class="clients">
							<%= image_tag"McDermott.png"%>
					</td>
					<td class="clients">
						<%= image_tag"AAEAAQAAAAAAAAILAAAAJDc2MGNjMGM0LWE4MWUtNDkxZi04YWI0LTQ1MDZmZDljMDQ5NA.png" %>
					</td>
				</tr>
			</table>
	</div>
		
		<div class=:"container-fluid">
			<div class="row div-bottom" id="contactus">
				<div class="col-md-3 col-md-offset-8">
				<h1 class = "contact-title">Contact Us</h1>
				<p>+61 444 444 444</p>
				<p>hbong@oceanicsupply.com.au</p>
				<p>Monday - Friday 09:00- 17:00 AWST</p>
				</div>
			</div>
		</div>